.content{
    
    margin-top: 10%;
    margin-left: 36%;
    width:800px;
    height:2500px;
    //background-color: red;
    display:flex;
    flex-wrap: wrap-reverse;
}

.article-div{
    position:relative;
    width:395px;
    height:235px;
    margin:2%;
}

.article-img{
    position:absolute;
    margin:0;
    width:100%;
    height:auto;
}

.article-name{
    position: absolute;
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    background-color: transparent;
    //z-index:100;
}