
#nav-content{
    position: fixed;
    left:0;
    margin-left:0;
    bottom:0;
    width: 36%;
    height:84%;
    max-width:800px;
    z-index:100;
    background-color:black;
    border-radius: 2px;
    //border-: 4px;;
    border:blue;
    display:flex;

}